a {text-decoration: none;}
body 
{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-image: 
        url(
            ./images/background.jpg
        );
        /* this image is not mine, source: https://wallpapers.com/wallpapers/minecraft-pc-island-4y46mfy9kuewd9ml.html */
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    min-height: fit-content;
}
.bg
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.bg-grad-index
{
    background-image:
        linear-gradient(
            rgba(0,0,0,1),
            rgba(0,0,0,0.6),
            rgba(0,0,0,0)
        );
    height: 1080px;
}
.bg-grad
{
    background-image:
        linear-gradient(
            rgba(0,0,0,1),
            rgba(0,0,0,0.9),
            rgba(0,0,0,0.75)
        );
    height: 1080px;
}
.menu li a
{
    font-size: 30px;
    font-family: 'Times New Roman', serif;
    color: white;
    transition: color 0.5s;
}
.menu li a:hover{color: dodgerblue;}
.logo
{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 40px;
}
.heading1
{
    font-size: 30px;
    color: aqua;
    text-align: center;
}
.boxshadow
{
    box-shadow: 0 0 50px black;
}
.text
{
    font-size: 20px;
    color: aqua;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.formlabel
{
    color: aqua;
}
.formbtn
{
    margin-top: 10px;
    color: aqua;
    background-color: rgb(51, 51, 51);
}
.formbtn:hover
{
    background-color: rgb(26, 26, 26);
    color: rgb(0, 184, 184);
}